_posts/2013-08-06-Markdown-document-sample.md
_posts/*.md~
_posts/*.md.swp
_site/*

*.html.wap
baidu_verify_OGye5SFqi3.html
googlecdc27db8348fa5b5.html
favicon.ico
push.sh
push.sh~
.gitignore
sitemap.txt
sitemap.xml
